# exclude JMC
/sources\smc.clw
/sources\smc.ncb
/sources\smc.opt
/sources\ttcoreex\ttcoreex.h
/sources\ttcoreex\ttcoreex.tlb
/sources\ttcoreex\ttcoreex_i.c
/sources\ttcoreex\ttcoreex_p.c

*.aps
*.plg

# jmc user settings
/sources/Default.set
/sources/global.set
/sources/history.dat
/sources/settings/Default.opt
/sources/tabwords.txt
*jmc.ini
