str1002="{%s}={%s} Приоритет=%d [%s]"
str1003="#Определены триггеры:"
str1004="#Такого триггера не определено."
str1005="# Теперь при строке {%s} выполняется {%s} @ {%d}"
str1006="# {%s} больше не является триггером."
str1007="#Соответствий для {%s} не найдено."
str1008="[ТРИГГЕР: %s]"
str1009="{%s}={%s} [%s]"
str1010="#Определены алиасы:"
str1011="#Такого алиаса не определено."
str1012="# {%s} теперь работает как {%s} в группе [%s]"
str1013="#Алиас {%s} удален."
str1020="#Определены антизамены:"
str1021="#Строки с {%s} не будут заменяться."
str1022="#Строки с {%s} теперь будут заменяться."
str1023="#Такой антизамены не определено."
str1024="#Текущий лог закрыт."
str1025="#Пожалуйста, укажите название файла для лога."
str1026="#ВНИМАНИЕ. HTML лог не может быть дописан. Файл будет перезаписан."
str1027="#Ошибка. Неизвестная форма записи в команде. Попробуйте 'append' или 'overwrite'."
str1028="#Ошибка - невозможно открыть файл %s."
str1029="Начало записи лога: %02d.%02d.%d %02d:%02d\r\n"
str1030="#Запись в лог {%s} включена."
str1031="#Невозможно открыть командный файл %s"
str1032="#Невозможно открыть файл 'global.set'"
str1033="#str Сейчас определено:"
str1034="#str %d алиасов."
str1035="#str %d триггеров."
str1036="#str %d антизамен."
str1037="#str %d замен."
str1038="#str %d переменных."
str1039="#str %d подсветок."
str1040="#str %d групп."
str1041="#Пожалуйста, укажите название файла для записи команд."
str1042="#Ошибка. Нет группы %s для записи."
str1043="#Ошибка - невозможно открыть файл %s для записи."
str1044="#Ошибка - невозможно открыть файл 'global.set' для записи."
str1045="#Ошибка - невозможно открыть файл %s для записи."
str1046="#Командный файл записан."
str1047="#ФОРМАТ: #group {list|delete|disable|enable|info|global|local} [имя_группы]"
str1048="#Определены группы:"
str1049=" [disabled]"
str1050=" [global]"
str1051="#Ошибка. Нет группы %s."
str1052="#Группа %s выключена."
str1053="#Группа %s включена."
str1054="#Группа %s удалена."
str1055="#Группа %s теперь глобальная."
str1056="#Группа %s теперь локальная."
str1057="#Содержимое группы %s:"
str1058="[global] "
str1059="[disabled] "
str1060="#---------------- Алиасы:"
str1061="#---------------- Триггеры:"
str1062="#---------------- Подсветки:"
str1064="#Определены подсветки:"
str1065="#ФОРМАТ: #highlight {цвет} {образец} [группа]"
str1066="#Неверный цвет подсвечивания. Варианты: red, blue, cyan, green,"
str1067="yellow, magenta, white, grey, black, brown, charcoal, light red, light blue,"
str1068="light cyan, light magenta, light green, b red, b blue, b cyan, b green,"
str1069="b yellow, b magenta, b white, b grey, b black, b brown, b charcoal, b light"
str1070="red, b light blue, b light cyan, b light magenta, b light green, bold,"
str1071="faint, blink, italic, reverse, или числа 1 - 32"
str1072="#   {%s} теперь подсвечивается %s в группе [%s]."
str1073="#Подсветка {%s} удалена."
str1075="#Неверный код клавиши!"
str1076="#Определены горячие клавиши:"
str1077="{%s} -> {%s} [%s]"
str1078="#Горячая клавиша не определена"
str1080="# Клавиша %s теперь работает как %s в группе [%s]"
str1081="#ФОРМАТ: #unhotkey <код клавиши>"
str1082="#Такой горячей клавиши не определено"
str1083="# %s больше не является горячей клавишей"
str1084="#Ошибка несоответствия при вычислении выражения."
str1085="#Неверное выражение {%s}"
str1086="#Ошибка. Неверное выражение в #if или #math"
str1087="#Внутренняя ошибка. Обратитесь к разработчику."
str1088="%s\n%s\nСтрока:%d Ошибка:%d Scode:%x\n%s"
str1089="%s\n%s\nСтрока:%d Ошибка:%d Scode:%x\n"
str1090="Ошибка скриптов JMC"
str1091="ОШИБКА! Невозможно создать объект движка скриптов!"
str1092="ОШИБКА! Невозможно получить IActiveScriptParse!"
str1093="ОШИБКА! Ошибка в SetScriptSite!"
str1094="#Списки очищены."
str1095="#Режим Verbatim ВКЛЮЧЕН. Алиасы теперь обрабатываться не будут."
str1096="#Режим Verbatim ВЫКЛЮЧЕН. Алиасы теперь будут обрабатываться."
str1098="#Командный символ теперь {%c}"
str1099="#Режим Echo ВКЛЮЧЕН."
str1100="#Режим Echo ВЫКЛЮЧЕН."
str1101="#Все триггеры выключены."
str1102="#Триггеры включены."
str1103="#Триггеры обрабатывают замененные строки."
str1104="#Триггеры не обрабатывают замененные строки."
str1105="#Все замены выключены."
str1106="#Замены включены."
str1107="#Неверное число аргументов в #loop"
str1108="#Неправильный тип сообщений."
str1109="#Сообщения '%s' %s"
str1112="#Режим Speedwalk ВКЛЮЧЕН."
str1113="#Режим Speedwalk ВЫКЛЮЧЕН."
str1114="#Соединение разорвано"
str1115="#Вы не подключены."
str1116="#Соединение разорвано пользователем."
str1117="#Сейчас определено:"
str1118="#Триггеров: %d"
str1119="#Алиасов: %d"
str1120="#Замен: %d"
str1121="#Антизамен: %d"
str1122="#Переменных: %d"
str1123="#Подсветок: %d"
str1124="#Echo: %s; Speedwalk: %s;"
str1125="ВКЛЮЧЕНО"
str1126="ВЫКЛЮЧЕНО"
str1129="#Toggle subs: %s; Ignore actions: %s; PreSub-ing: %s;"
str1136="#ФОРМАТ: #status [1|2|3|4|5] {текст} [цвет]"
str1137="#Неверный номер статус-поля. Верные номера 1 - 3."
str1138="#ФОРМАТ: #tabadd <слово>"
str1139="#Новое слово %s добавлено в tab-список."
str1140="#ФОРМАТ: #tabdel <слово>"
str1141="#Слово %s удалено из tab-списка."
str1142="#Ошибка в регулярном выражении: "
str1144="#Счетчик повтора должен быть больше нуля."
str1145="#Неизвестная команда."
str1146="#Ошибка: Несовпадающие скобки!"
str1147="#Режим пути ВКЛЮЧЕН. Путь записывается."
str1148="#Режим пути ВЫКЛЮЧЕН."
str1149="#Внимание! Режим пути не ВКЛЮЧЕН"
str1150="#Savepath - нечего сохранить."
str1151="#ФОРМАТ: #savepath {имя_алиаса} [""reverse""]"
str1152="#Ошибка - слишком маленький буфер для записи алиаса."
str1153="#Ошибка. #Буфер savepath слишком мал для записи алиаса."
str1154="#Путь:  "
str1156="#Путь пуст. Невозможно вернуться."
str1157="#Последний шаг забыт."
str1158="#Путь пуст. Невозможно забыть последний шаг."
str1159="#Определены направления:"
str1160="#Такого направления не определено."
str1161="#{%s} теперь записывается в #path. {%s} его #return."
str1162="#Сначала разорвите текущее соединение."
str1164="#Ошибка. Не указан адрес."
str1165="#Ошибка. Укажите порт."
str1166="#Определены замены:"
str1167="#Такая замена не определена."
str1168="# {%s} теперь заменяет {%s}."
str1169="# {%s} теперь не показывается."
str1170="# {%s} тепер показывается."
str1171="# {%s} больше не заменяется."
str1172="#Такой замены не определено."
str1173="#Отсутствует название файла для отправки в MUD."
str1174="#Ошибка. Невозможно открыть файл %s"
str1175="#Чтение файла - успешно."
str1176="#%d секунд до тика."
str1177="#Тикер выключен"
str1178="#Тикер ВЫКЛЮЧЕН."
str1179="#Тикер ВКЛЮЧЕН."
str1180="#Установлена новая длительность тика."
str1181="#Пожалуйста, укажите длительность тика в секундах."
str1182="#Вы не подключены."
str1183="\n#strОшибка при записи в MUD!\n"
str1184="#Подключение к удаленному хосту..."
str1185="#Ошибка - неизвестный хост."
str1186="#Адрес удаленного хоста: %s"
str1187="#Порт должен быть числом."
str1188="#Невозможно создать сокет\n"
str1189="#Попытка подключения..."
str1190="#Ошибка - отказ в подключении."
str1191="#Ошибка - сеть недоступна."
str1192="#Невозможно подключиться."
str1193="#strСоединение установлено\n"
str1194="#Адрес хоста слишком длинный"
str1195="Ошибка"
str1196="#Движок скриптов перезапущен."
str1197="#ТИК"
str1198="#10 СЕКУНД ДО ТИКА"
str1199="#Соединение утеряно."
str1200="#Мультитриггеры ВКЛЮЧЕНЫ."
str1201="#Мультитриггеры ВЫКЛЮЧЕНЫ."
str1202="#ФОРМАТ: #multiactions [on/off]"
str1205="#Мультиподсветка ВКЛЮЧЕНА."
str1206="#Мультиподсветка ВЫКЛЮЧЕНА."
str1207="#ФОРМАТ: #multihighlight [on/off]"
str1210="Недостаточно памяти для strdup."
str1211="ОШИБКА: %s (%d)"
str1212="#Определенные переменные:"
str1213="{%s}={%s}"
str1215="#   $%s теперь установлено в  {%s} "
str1216="[global]"
str1217="[local]"
str1218="#Ошибка. Требуется имя переменной."
str1219="#Переменная $%s удалена."
str1220="#Такой переменной не определено."
str1221="#ФОРМАТ: #tolower <переменная> <текст>"
str1222="#   $%s теперь установлено в {%s}."
str1223="#ФОРМАТ: #toupper <переменная> <текст>"
str1224="#ФОРМАТ: #system <команда>"
str1225="#ФОРМАТ: #terminate <pid>|all|last"
str1226="\n#Активные процессы:"
str1227="str{%ld}={%s}"
str1228="#Процесс с таким pid не найден. Воспользуйтесь командой #ps."
str1229="#ФОРМАТ: #run <команда>"
str1230="#ФОРМАТ: #play <файл>"
str1231="#Этот файл грузится по умолчанию."
str1232="#Файл скриптов {%s} уже есть в списке."
str1233="#Список скриптовых файлов:"
str1234="str  {%s}"
str1235="#Файл скриптов {%s} добавлен в список."
str1236="#Такого файла нет в списке."
str1237="#Файл скриптов {%s} удален из списка."
str1238="#ФОРМАТ: #read <файл>"
str1239="#ФОРМАТ: #woutput <окно> [цвет] <текст>"
str1240="#ФОРМАТ: #wshow <окно> [toggle|show|hide]"
str1241="#ФОРМАТ: #wlog <окно> <файл> append|overwrite|html"
str1242="Начало записи лога для окна вывода %d: %02d.%02d.%d %02d:%02d\r\n"
str1243="#Запись в лог {%s} для окна [%s] включена."
str1244="#ФОРМАТ: #wname <окно> [название_окна]"
str1245="#Неподходящий командный символ."
str1246="#ФОРМАТ: #daa <строка>\n#ФОРМАТ: #whisper <строка>"
str1247="#Горячих клавиш: %d."
