body {
    margin: 0;
    padding: 0;
    background: #151515 url("../images/bkg.png") 0 0;
    color: #bbb;
    line-height: 1.5;
    font: 14px Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.page-header {
    margin: 10px 0 25px 0;
    padding: 0;
}

section {
    display: block;
    margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

li, p {
    line-height: 1.6;
}

p {
    margin: 0 0 1.5em;
}

code {
    color: #1EBD00;
    font: 16px 'Courier New';
    background-color: #151515;
    border: 1px solid #383737;
    padding: 1px 3px;
}

.logo {
    float: left;
    margin: 2px 10px 0 0;
    height: 34px;
}

.logo__icon {
    vertical-align: middle;
}

.logo__text {
    vertical-align: middle;
    margin-left: 10px;
    line-height: 70px;
}

footer {
    margin-top: 50px;
    border-top: 1px dashed #1EBD00;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 1px dashed #1EBD00;
    padding: 20px 0;
    margin: 0 0 40px 0;
}

header h1 {
    display: inline-block;
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #1EBD00;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}

header h2 {
    font-size: 15px;
    font-weight: 300;
    color: #888;
}

.features {
    color: #888;
}

#downloads .btn {
    display: inline-block;
    text-align: center;
    margin: 0;
}

/* Main Content
*/

#main_content {
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

.content {
    text-align: justify;
}

section img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #1EBD00;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
}

h1.commands,
h2.commands,
h3.commands,
h4.commands,
h5.commands,
h6.commands {
    color: #bbb;
}

#main_content h1 {
    font-size: 30px;
}

#main_content h2 {
    font-size: 24px;
}

#main_content h3 {
    font-size: 18px;
}

#main_content h4 {
    font-size: 14px;
}

#main_content h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

#main_content h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: #bbb;
    margin: 0 0 5px 0;
}

dt {
    font-style: italic;
    font-weight: bold;
}

ul li {
    list-style: none;
}

ul li:before {
    content: ">>";
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 13px;
    color: #1EBD00;
    margin-left: -37px;
    margin-right: 21px;
    line-height: 16px;
}

ul.nav li:before {
    content: none;
}

blockquote {
    color: #aaa;
    padding-left: 10px;
    border-left: 1px dotted #666;
}

pre {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    font-size: 14px;
    color: #1EBD00;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
    -moz-tab-size: 4;
      -o-tab-size: 4;
         tab-size: 4;
}

table {
    width: 100%;
    margin: 0 0 20px 0;
}

th {
    text-align: left;
    border-bottom: 1px dashed #1EBD00;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #1EBD00;
    color: #1EBD00;
}

/* Buttons
*/

.btn {
    display: inline-block;

    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));

    padding: 8px 18px;

    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    border-top: 2px solid rgba(0, 0, 0, 1);

    color: #bbb;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
    background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
    color: #fff;
}

.btn .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 8px 0 0;
    float: left;
}

.btn-github .icon {
    opacity: 0.6;
    background: url("../images/blacktocat.png") 0 0 no-repeat;
}

.btn-jmc .icon {
    opacity: 0.6;
    background-image: url("../images/favicon.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

/* Links
   a, a:hover, a:visited
*/

a, a:hover {
    color: #1EBD00;
    text-shadow: 0 0 5px rgba(24, 130, 0, 0.48);
}

/* Clearfix */

.cf:before, .cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* Zocial Overrides */
/* line 248, ../_sass/_base.scss */
.navbar a.zocial {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.yashare-auto-init
{
    margin-top: 6px;
}
